.controls {
	display: flex;
	align-items: start;
	gap: 0.5rem;

	.input {
		border-radius: 20px;
		height: 45px;
		width: 200px;
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
		background: rgba(0, 0, 0, 0.2);
		border-style: none;
		color: white;
		font-weight: bold;
		box-shadow: var(--box-shadow);

		&.input--error {
			animation: shake 0.5s ease-in-out;
		}

		&:focus-visible {
			outline: 2px dashed white;
		}
	}

	.submit {
		border-radius: 50%;
		height: 45px;
		width: 45px;
		background-color: var(--c-green);
		border: 1px solid black;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1px;
		box-shadow: var(--box-shadow);
		cursor: pointer;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
		outline: 2px dashed var(--c-red);
		color: var(--c-red);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
