.input {
	border-radius: 20px;
	height: 45px;
	width: 200px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.2);
	border-style: none;
	color: white;
	font-weight: bold;
	box-shadow: var(--box-shadow);

	&:focus-visible {
		outline: 2px dashed white;
	}
}
