.logo {
	display: flex;
	margin-bottom: 32px;
	margin-left: 50px;

	.logo__letter {
		width: 80px;
		height: 80px;
		font-size: 52px;
		font-weight: bold;
		-webkit-text-stroke: 1px black;

		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		color: white;
		padding: 2px;
		border: 1px solid black;

		border-radius: 10px;
		box-shadow: var(--box-shadow);

		&:nth-child(1) {
			z-index: 3;
			background: var(--c-yellow);
		}

		&:nth-child(2) {
			transform: translate(-10px, 15px);
			background: var(--gradient-word);
			z-index: 2;
		}

		&:nth-child(3) {
			transform: translate(-20px, 4px);
			background: var(--c-green);
			z-index: 1;
		}

		&:nth-child(4) {
			transform: translate(-40px, -20px);
			z-index: 3;
			background: var(--c-red);
			scale: 0.94;
		}
		&:nth-child(5) {
			transform: translate(-55px, -3px);
			z-index: 1;
			background: var(--c-yellow);
		}
	}
}
