.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.wrapper {
	display: flex;
	flex-direction: column;

	.word {
		display: flex;

		&:last-child {
			.letter {
				border-bottom-width: 1px;
			}
		}

		.letter {
			border-width: 1px 0 0 1px;
			border-color: black;
			border-style: solid;
			width: 60px;
			height: 60px;

			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;

			&:last-child {
				border-right-width: 1px;
			}
		}

		&.word--marked {
			.letter {
				&.letter--red {
					background-color: red;
				}

				&.letter--yellow {
					background-color: yellow;
				}
			}
		}
	}
}

.controls {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
